@{
    ViewData["Title"] = "Home Page";
}
@model List<PlayerViewModel>


<div class="text-center">
    <h1 class="display-4">Welcome to the Board Championship</h1>
</div>
<div class="text-danger">
    <h1 class="display-6">Championship Rules</h1>
</div>
<div class="text-danger">
    <ul>
        <li class="display-7">1. Two teams play each other 3 matches.</li>
        <li class="display-7">2. Whoever won from the two previous teams goes to the final.</li>
        <li class="display-7">3. And the final fight between the rest of the finalists, until one winner remains.</li>
    </ul>
</div>

@if (Model.Any())
{
    <div class="text-center">
        <h1 class="display-6">
            Teams participating in the championship 2023
        </h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Team</th>
                <th>First Player</th>
                <th>Second Player</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model)
            {
                <tr>
                    <td>@player.Id</td>
                    <td>@player.Team.Name</td>
                    <td>@player.FirstPlayerName</td>
                    <td>@player.SecondPlayerName</td>
                    <td>
                        @Html.ActionLink("Exclude a team from the competition", "Delete", new { id = player.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="text-center">
    <a href="@Url.Action("AddNewPlayer", "Home")" class="btn btn-primary">Register for the championship</a>
</div>
<div class="text-center">
    <a href="@Url.Action("StartGame", "Home")" class="btn btn-primary">Start Game</a>
</div>


@if (Model.Any())
{
    <div class="text-center">
        <h1 class="display-6">
            Teams reaching the final
        </h1>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var player in Model)
            {
                <tr>
                    @if (player.Winner != null)
                    {
                        <td>@player.Winner.Id</td>
                        <td>@player.Winner.Name</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}